header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #c52f24;
    color: #fff;
}

footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background-color:#c52f24;
    color: #fff;
}
table {
    border-collapse: collapse;
    border: 1px #808080 solid; 
}
table th {
    background-color: #ffdfdf;
    padding: 10px 20px;
    border-collapse: collapse;
    border: 1px #808080 solid; 
}

table td {
    background-color: #f1c8c861;
    padding: 10px 20px;
    border-collapse: collapse;
    border: 1px #808080 solid; 
}

ul {
    list-style: none;
    padding-left: 20px;
}
li{
    margin-top: 10px;
}
textarea{
    width: 350px;
    height: 200px;    
}

p{
    margin: 5px;
}

.notice {
    height: 50px; 
    background-color: #ffebb5;
    padding: 5px;
    text-align:left;
    line-height: 50px;
}
.alert{
    height: 50px; 
    background-color: #ffacac;
    padding: 5px;
    text-align:left;
    line-height: 50px;
}